html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 1.125rem;
    line-height: 29px;
    letter-spacing: 1.3px;
    padding: 0 1rem 45px;
    transition: height .3s;
    z-index: 6
}

p{
    color:#fff;
}
.spisok{
    margin-top: 20px;
}
.left-header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu{
    fill: #fff;
    stroke: #fff;
    width: 51px;
    height: 51px;
    margin-left: 20px;
}

.logo {
    display: flex;
    align-items:center ;
}

.right-header{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
 
.search{
    position: relative;
    fill: #fff;
    stroke: #fff;
    width: 51px;
    height: 51px;
}

.cart{
    position: relative;
    margin-left: 33px;
    margin-right: 20px;
    fill: #fff;
    stroke: #fff;
    width: 51px;
    height: 51px;
}

.item {
    display: flex;
    height: 600px;
}

.item-photo{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.item-info{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-title{
    padding: 10px 0 20px;
    color:#fff;
}

.product-color{
    padding: 10px 0 20px;
    color:cadetblue;
}

.product-price{
    padding: 10px 0 20px;
    color:crimson;
}

button {
    border: 4px inset white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
  }
  
  .color1{
    background-color: #fff;
  }

    .color2{
    background-color: #000;
  }

  .withoutborder {
    background-color: #000;
    border: none;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 0%;
  }
  .buttontext{
    color: #fff;
    font-weight: lighter;
  }
  .book-button {
    margin-top: 60px; 
    width: 50%;
    padding: 20px;
    background-color: #ccc; 
    color: #000; 
    border: none;
    border-radius: 15px;
    cursor: pointer;

}
    .book-button:hover {
    background-color: #999; 
}

hr{
    color: aliceblue;
    height: 2px;
}

details{
    margin-left: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.screen {
    position: relative;
    height: 45vh; 
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid grey;
    border-width: 20px 20px 70px;
    border-radius: 10px;
    margin-left: 20px;
}       

.photo{
    width: 240px; 
    height: 300px;
    position: relative;
}


.text {
    position: relative;
    text-align: middle;
    font-size: 17px;
    color: black;
}

.nadpisi {
    margin-top: 20px;
    margin-left: 50px;
    color: red;
    font-size: 20px;
}