/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.container2{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 20px;
    column-gap: 8em;
    font-size: 20px;
    color: white;
}

.logo-container {
    margin-left: 80px;
}

.logo {
    width: 100px;
}

.items-column {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.item {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 20px;
}

.item-details {
    flex: 1; 
}

.item-details h2 {
    margin-bottom: 20px; 
    margin-top: 10px; 
}

.item-details p {
    margin-bottom: 15px;
}

.item-image {
    width: 150px;
    height: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.price {
    color: #0f0;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-control {
    padding: 5px 10px;
    background-color: #ccc; 
    color: #000; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.quantity-control:hover {
    background-color: #999; 
}

.quantity {
    padding: 5px 10px;
    color: #fff; 
    background-color: transparent; 
    margin: 0 10px;
}


.info-column {
    flex: 1;
    margin-left: 50px; 
}

.booking-form {
    max-width: 300px;
    
}

label {
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.booking-form p {
    line-height: 1.5;
}

button.book-button {
    margin-top: 30px; 
    width: 100%;
    padding: 10px;
    background-color: #ccc; 
    color: #000; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.book-button:hover {
    background-color: #999; 
}

